.container {
  color: white;
  text-align: center;
  padding: 1.25rem 1.25rem 3.75rem;
  div {
    border-block: 1px solid #2a2a2a;
    h1 {
      font-size: 18.3rem;
      line-height: 1;
      letter-spacing: -0.625rem;
      font-weight: 700;
    }
  }
}
