<app-home-title></app-home-title>
<div class="article">
  <div>
    <app-big-card
      id="1"
      imageCover="https://www.dwinawan.com/blog/thumb_article41.jpg"
      dateContent="Julho 17, 2025"
      titleContent="Algumas maneiras de usar tipografia em negrito no design de sites"
      descriptionContent="Neste artigo, faço uma lista de coisas que podem ser usadas com negrito tipografia no design de sites. Para que a tipografia em negrito se torne interessante e não perturbador visualmente."
    />
  </div>
  <div class="aside">
    <app-small-card
      id="2"
      imageCover="https://www.dwinawan.com/blog/thumb_article20.jpg"
      dateContent="Janeiro 11, 2025"
      titleContent="A exploração de design pode ser usada para se candidatar a uma vaga de Designer de UI?"
    />
    <app-small-card
      id="3"
      imageCover="https://www.dwinawan.com/blog/thumb_article15.jpg"
      dateContent="Dezembro 22, 2024"
      titleContent="Pratique a escrita UX com alguns princípios básicos de microcópia"
    />
    <app-small-card
      id="4"
      imageCover="https://www.dwinawan.com/blog/thumb_article40.jpg"
      dateContent="Dezembro 01, 2024"
      titleContent="Sobre as limitações que devem ser entendidas ao criar um design"
    />
  </div>
</div>
